table{
    border-collapse: collapse;
}

th,td{
    border: 1px solid black;
   
}

thead tr:nth-child(1){
    background-color: #35f70e;
}

tbody tr:nth-child(odd){
    background-color: #b0eb0e;
}


tbody tr:nth-child(even){
    background-color: #97b31e;
}

thead tr:hover{
    background-color:rgb(230, 45, 45);

}

tbody tr td:first-child{
    font-weight:bolder;
}
